---

import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Mi perfil">
    <header class="flex justify-between px-30  p-2" style="background-color: var(--color-primary);">
            <img  class ="w-60 h-20 p-2 " src="http://132.248.63.171/PAGINAS_P/assets/UNAMhead-Q3AiFNSJ.png">
            <h1 class=" text-2xl text-white mt-5">Páginas personales UNAM</h1>
    </header>
        <div class="flex  bg-white"> 
            <div class="flex flex-col min-h-screen w-80 mx-30 p-6 mr-8" style="background-color: var(--color-claro);">
                <img class=" w-30 h-30 rounded-lg mx-auto mt-10" src="../../public/persona.jpg" alt="imagen de una persona">
                <nav>
                    <ul class="mt-4">
                        <li class="mb-4 hover:bg-indigo-400 p-2 text-indigo-800">Datos generales</li><hr class="border-white">
                        <li class="mb-4 hover:bg-indigo-400 p-2 text-indigo-800">Curriculum/Semblanza</li><hr class="border-white">
                        <li class="mb-4 hover:bg-indigo-400 p-2 text-indigo-800">Documentos</li><hr class="border-white">
                        <li class="mb-4 hover:bg-indigo-400 p-2 text-indigo-800">Ligas de Interés</li><hr class="border-white">
                        <li class="mb-4 hover:bg-indigo-400 p-2 text-indigo-800">Publicaciones</li><hr class="border-white">
                        <li class="mb-4 hover:bg-indigo-400 p-2 text-indigo-800">Asignaturas que imparte el profesor</li><hr class="border-white">
                    </ul>
                </nav>
            </div>

            <section class="mt-4 p-3">
                <h1 class="text-indigo-800 text-4xl mt-8">Juan Pérez Pérez</h1>
                <h2 class="border p-2 mt-4 text-white rounded-md  text-2xl font-semibold" style="background-color: var(--color-primary);">Datos de Contacto</h2>
                    
                <div class=" h-auto mx-auto shadow.lg mt-3">
                        <form class="grid grid-cols-6 gap-3 w-200 h-full">
                            
                            <div class="col-span-6">
                                <label class="text-gray-700">Nombre(s)</label>
                                <input type="text" class="w-full border h-8 border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>

                            <div class="col-span-3">
                                <label class="text-gray-700">Primer Apellido</label>
                                <input type="text" class="w-full border h-8 border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>


                            <div class="col-span-3">
                                <label class="text-gray-700">Segundo Apellido</label>
                                <input type="text" class="w-full  h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                
                         
                            <div class="col-span-3">
                                <label class="text-gray-700">Grado/Título </label>
                                <input type="text" class="w-full h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                
             
                            <div class="col-span-3">
                                <label class="text-gray-700">Área Universitaria</label>
                                <input type="text" class="w-full  h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                
                    
                            <div class="col-span-2">
                                <label class="text-gray-700">Rol/Puesto</label>
                                <input type="text" class="w-full h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                
                           
                            <div class="col-span-2">
                                <label class="text-gray-700">Teléfono</label>
                                <input type="text" class="w-full h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                
                          
                            <div class="col-span-2">
                                <label class="text-gray-700">Correo electrónico</label>
                                <input type="text" class="w-full h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                           
                            <div class="col-span-6">
                                <label class="text-gray-700">Otro contacto</label>
                                <input type="text" class="w-full  h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                
                           
                            <div class="col-span-6">
                                <label class="text-gray-700">Información adicional</label>
                                <input type="text" class="w-full h-8 border border-indigo-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black">
                            </div>
                        </form>
                    </div>

                    <div class="flex justify-center gap-4  mt-3">
                        <button  class="bg-blue-500 px-3 py-2 text-white rounded-md cursor-pointer mb-1 hover:bg-blue-400" type="button"><a href="">Actualizar Imagen</a></button>
                        <button  class="bg-gray-500 px-3 py-2 text-white rounded-md cursor-pointer mb-1 hover:bg-blue-400" type="button"><a href="">Cancelar</a></button>    
                    </div>
            </section>
        </div>
	
    

    <footer class="text-center p-5 px-30 text-white" style="background-color: var(--color-primary);">
        <p>Páginas Personales UNAM 2024</p>
    </footer>
</Layout>
